*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  margin: 20px;
  text-align: center;
}

.card {
  margin-bottom: 1rem;
}

header {
  margin-bottom: 20px;
}

h1 {
  color: #333;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.resource-item {
  border: 1px solid #dddddd;
  margin-bottom: 20px;
  padding: 30px;
  text-align: left;
  position: relative;
  left: 0px;
  top: 200px;
}

.resource-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.location-phone {
  font-size: 16px;
  color: #555555;
  margin-bottom: 10px;
}

.description-email {
  font-size: 16px;
  margin-bottom: 10px;
}

.intended-clients {
  font-size: 18px;
  font-weight: bold;
}
#map {
  height: 400px;
  width: 600px;
  position: relative;
  left: 500px;
  top: 100px;
}

.map-view {
  max-width: 100%;
  height: 500px;
}

.filters {
  padding: 1rem 0rem;
}

.search-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  margin: 100px;
  font: 500 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
  position: relative;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
  align-self: center;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  align-self: center;
  text-overflow: ellipsis;
  width: 400px;
}
