body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Light background for a clean look */
}

/* Header Styles */
header {
  background-color: #D8BFD8; /* Soft lavender background */
  color: #343a40;
}

header h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

header p {
  font-size: 1.25rem;
  font-weight: 400;
}

/* Blog Section */
section.bg-white {
  padding: 2.5rem 0;
}

section.bg-white h2 {
  font-weight: 700;
  margin-bottom: 1rem;
  color: #FF99BE; /* Soft pink */
}

section.bg-white p {
  color: #6c757d;
  font-size: 1.1rem;
}

/* Sidebar Widgets */
.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h4 {
  color: #FF99BE; /* Soft pink */
}

.card ul {
  padding-left: 0;
}

.card li {
  list-style: none;
  margin-bottom: 10px;
}

.card li a {
  color: #D3D3D3; /* Soft gray for links */
}

.card li a:hover {
  color: #FF99BE; /* Soft pink on hover */
}

/* Footer Section */
footer {
  background-color: #343a40;
  color: white;
}

footer h4 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.social-icons a {
  margin: 0 10px;
  color: white;
  transition: color 0.3s;
}

.social-icons i {
  font-size: 30px; /* Adjust size as needed */
  margin: 10px;
}


.social-icons a:hover {
  color: #FF99BE; /* Soft pink for hover effect */
}
